@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@font-face {
  font-family: 'signpaintermedium';
  src: url('webfontkit-20190607-213221/signpainter-housescript-webfont.woff2') format('woff2'),
       url('webfontkit-20190607-213221/signpainter-housescript-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

.App {
  position: relative;
  text-align: center;
  margin-top: 10%;
}

.App-header {
  color: white;
  position: absolute;
  /* bottom: 27%;
  left: 38%; */
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.songNameAndArtist {
  position: absolute;
  /* bottom: 27%;
  left: 38%; */
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#animation {
  width: 84%;
  /* bottom: 27%;
  left: 38%; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

button {
  background-color: black;
  border: none;
}

.letters {
  text-align: center;
  border: 4px solid #46C4D3;
  color: #FFF170;
  margin-bottom: 34px;
  width: 563px;
  margin-right: 60px;
  height: 115px;
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
}

::-webkit-scrollbar {
  width: 0px;
}

.receive {
  text-align: center;
  border: 5px solid #46C4D3;
  color: #FFF170;
  margin-bottom: 25px;
  width: 300px;
  margin-right: 30px;
  height: 100px;
}

.selected {
  background-color: #FFF170;
  border: 4px solid #FFF170;
  color: #3DABB8;
  border-radius: 8px;
}

.selectedSong {
  background-color: #FFF170;
  border: 5px solid #FFF170;
  color: #3DABB8;
}

.selectedChoice {
  background-color: #FFF170;
  border: 5px solid #FFF170;
  color: #3DABB8;
}

/* .floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
} */

.float {
  position: relative;
  -webkit-animation: floatBubble 2s infinite normal ease-out;
  animation: floatBubble 2s infinite normal ease-out;
}

@-webkit-keyframes floatBubble {
  0% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}

@keyframes floatBubble {
  0% {
    top: 500px;
  }
  100% {
    top: 0px;
  }
}

.Modal {
  /* position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  margin-top: 5%;
}

.Modal1 {
  /* position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  /* margin-top: 5%; */
}

#meme {
  width: 90%;
  /* height: 100%; */
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
}
