@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

.App {
  margin-left: 158px;
  margin-top: 166px;
}

.App-header {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.letters {
  text-align: center;
  border: 5px solid #46C4D3;
  color: #FFF170;
  margin-bottom: 25px;
  width: 700px;
  margin-right: 30px;
  height: 125px;
}

.receive {
  text-align: center;
  border: 5px solid #46C4D3;
  color: #FFF170;
  margin-bottom: 25px;
  width: 300px;
  margin-right: 30px;
  height: 100px;
}

.selected {
  background-color: #FFF170;
  border: 5px solid #FFF170;
  color: #3DABB8;
}

.selectedSong {
  background-color: #FFF170;
  border: 5px solid #FFF170;
  color: #3DABB8;
}

.selectedChoice {
  background-color: #FFF170;
  border: 5px solid #FFF170;
  color: #3DABB8;
}